/*2019|Nicholas Villiers|U3161734|Assignment Part 2 CSS Website Sketch*/
/* I have imported the following font-family, for use with <p> elements, from https://fonts.google.com/?selection.family=Nanum+Pen+Script.*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
/* I have imported the following font-family, for use with <h2>,<h3> elements, from https://fonts.google.com/?selection.family=Sniglet.*/
@import url('https://fonts.googleapis.com/css?family=Sniglet');
/* I have imported the following font-family, for use with <h1> elements, from https://fonts.google.com/?selection.family=Indie+Flower.*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
/*Set attributes relevant to all <h1> elements, with note that the only <h1> elements on each page are used as the title at the top of each page.*/
h1 {
    /*Set properties for <h1>'s text.*/
    color					:#D61A46;
    text-align		        :left;
    font-family             :'Indie Flower', cursive;
    font-size				:350%;
    font-weight			    :bold;
    /*Set attributes for the <h1> element itself.*/
    background-color		:#D4E4F7;
    border-radius           :0 0 20px 20px;     
    padding                 :0 5% 0 5%;
    height                  :75px;
    box-shadow              :3px 3px 3px 1px #000000;
}
h2 {
    /*Set the <h2> text properties.*/
    font-family             :'Sniglet', cursive;
    font-size				:250%;
    font-weight             :bold;
    text-align				:left;
    color					:#D61A46;
    /*Set the attributes for the element and its appearance.*/
    padding                 :0 5% 0 5%;
}
h3 {
    /*Set the <h3> text properties.*/
    font-family             :'Sniglet', cursive;
	font-size				:175%;
	text-align				:left;
    font-weight             :bold;  
    color                   :#D61A46;
    /*Set the attributes for the <h3> element and its appearance.*/
    padding                 :0 5% 0 5%;
}
body {
    /*Attributes for the main body.*/
    background-image        : linear-gradient(to bottom,#236AB9,#000000);    
    width					:50%;
    align-content			:center;
    margin                  :0 25% 0 25%;
    border-radius			:20px;
}
nav {
    /*Set attributes for nav area, menu.*/
	text-align				:center;
	background-color		:transparent;
	border-radius			:20px;
	height					:auto
}
div{
    /* Create padding and round corners on <div> elements.*/
    padding                 :2% 2% 2% 2%;
	border					:1px solid black;
	background-color		:#D4E4F7;
	align-content			:center;
	border-radius			:20px;
    /*I have inserted box-shadow to give the page a feeling of depth*/
    box-shadow              :3px 3px 3px 1px #000000;
}
    /*Apply attributes to <div> element within the <footer> to maintain uniformity*/
    div.footer{
        color               :#D61A46;
        border-radius       :20px 20px 0 0; 
        padding             :1% 0 0 0;
    }
p {
    /*Set attributes for the text in the <p> element.*/
    font-family             : 'Nanum Pen Script', cursive;
    color					:#000000;
    font-size               :150%;
    text-align				:left;
    line-height             :1.5em;
    /* Set the attributes of paragraph itself.*/
    width					:90%;
    max-width				:90%;
    margin                  :2% 5% 0 5%;
    display					:inline-block;
    align-content			:center;
    padding-bottom          :5%; 
}
img {
    /*Set attributes for all <img> tags.*/
    border					:2px solid #D61A46;
    border-radius			:20px;
    width					:50%;
    max-width				:50%;
    margin                  :0 5% 0 5%;
    align-content			:center;
    display	    			:inline-block;
    float					:right;
    margin-bottom           :5%; 
    /*I have inserted box-shadow to give the page a feeling of depth*/
    box-shadow              :3px 3px 3px 1px #000000;
}
footer{
    /*Set <footer> element dimensions.*/
    padding-top             :2%;  
    /*set text colour for <footer>*/
	color					:#D4E4F7;
}
a {
    /*Set dimensions for all <a> elements.*/
	display					:inline-block;
    margin                  :1% 0 1% 0;
	border-radius			:20px;
	width					:23%;
	background-color		:#000000;
    /*Set text attributes within <a> elements.*/
	font-size				:150%;
	text-decoration			:none;
	color					:#FDDC22;
    border                  :2px solid #D61A46;
    box-shadow              :3px 3px 3px 1px #000000;  
}
    /*Set what happens when <a> tag is hovered over.*/
    a:hover{
        background-color	:white;
        color				:black;
    }
    /*Set attributes for appearance of the W3 badge, found at the bottom of each page.*/
    .w3{
        background-color	:transparent;
        border			    :none;	
        display             :inline;
    }
    /*Set the attributes of the <a> elements used for "back to top".*/
    .top{
        width               :15%;
        border              :2px solid #000000;
        background          :#D4E4F7;
        margin              :auto;
        display             :inline;
        /*Set the text attributes for the "back to top" link.*/
        text-align          :center;
        color               :#000000;
        font-size           :100%;
        box-shadow          :3px 3px 3px 1px #000000;  
    }
ul{
    /*Set the attributes if the entire <ul>.*/
    width                  :90%;
    margin                 :0 5% 0 5%;
	padding                :inherit;
	border                 :0;
    vertical-align         :baseline;
    /* Set the text properties for <ul> elements*/
	font                   :inherit;
    list-style             :circle;
    font-family            : 'Nanum Pen Script', cursive;
}
li{
    /*Set the attributes for the individual <li> within the <ul>.*/
    font-size              :150%;
    line-height            :1.5em; 
}
















































